# Build
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo

# Rider
.idea/

# Logs
*.log

# OS
Thumbs.db
.DS_Store

# MAUI / Android / iOS
*.apk
*.aab
*.app
*.ipa

# App settings (claves y configuración sensible)
Maui1/appsettings.json
Maui2/appsettings.json